


.app {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 7% 10%; */
}




.box1 {
    display: flex;
    justify-content: space-around;
}
.box2 {
    display: flex;
    justify-content: space-around;
}
.box {
    width: 400px;
    border: 2px dashed blue;
    /* display: inline-block; */
    background-color: yellow;
    padding: 50px;
    margin-top: 50px;
}
label {
    width:120px;
    display: inline-block;
}